.header {
  position: relative;
  z-index: 2;
}

.logo-text {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.menu-text-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
}