.tutorContainer {
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 9px rgba(0,0,0,.15);
  box-shadow: 0 5px 9px rgba(0,0,0,.15);
  position: relative;
  z-index: 1;
}

.main-info {
  padding: 33px 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #a9b3cb;
}